html,body{
  background-color: #ffffff;
  color: #727171;
}

a{
  text-decoration: none;
}

main{
  height:100vh;
}

footer{
  all: unset;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #dc3545;
}

.myBtn{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  color:#ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e46370;

  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px -1px 9px 5px rgba(0,0,0,0);
}

.timer{
  font-size: 100px;
  /* background-color: rgba(255, 180, 176, 0.83); */
  background-color: #e46370;
  color: #ffffff;
}
.myBtn a{
  display: block;
  color: white;
  font-size: xx-large;
  cursor: pointer;
}

.nav-link{
  cursor: pointer;
}
